@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

body {
    background: url('../images/ruins.webp') no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    color: #EAD6A6;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    font-size: 150%;
    background-color: #28452E;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 20px;
}

.main-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    height: 60vh;
}

.game-div {
    height: 40%;
    width: 50%;
    background-color: #28452E;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: 2px solid #80A170;
}

.answer-div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
    height: 5vh;
    width: 5vw;
    background-color: #D45C2D;
    color: #ffffff;
    font-size: 110%;
}

.answer-btn {
    height: 12vh;
    width: 12vw;
    margin: 5px;
}