@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

/* general styling */

body {
    background: url('../images/ruins.webp') no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    color: #EAD6A6;
    margin: 0;
    padding-bottom: 30px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    background-color: #0E1B13;
    height: 12vh;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

p {
    margin: 10px;
}

/* class and id styling */

.main-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    height: 70vh;
}

.game-div {
    height: 40%;
    width: 50%;
    background-color: #0E1B13;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    text-align: center;
    border: 2px solid #28452E;
}

.answer-div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
    height: 5vh;
    background-color: #953D1D;
    color: #ffffff;
    font-size: 100%;
}

.answer-btn {
    height: 12vh;
    width: 24vw;
    margin: 5px;
}

#start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#character-name {
    width: 40%;
}

#start-btn {
    margin: 10px;
    font-size: 60%;
    height: 4vh;
    width: 8vw;
}

#reveal-box {
    height: 80%;
    text-align: center;
}

/* media queries */

@media screen and (max-width: 768px) {

    header {
        font-size: 100%;
    }

    .game-div {
        font-size: 150%;
    }

    .answer-div {
        flex-direction: column;
    }

    .btn {
        width: 12vw;
    }

    #character-name {
        width: 60%;
    }
}

@media screen and (max-width: 425px) {

    .game-div {
        width: 65%;
        font-size: 120%;
    }

    .btn {
        font-size: 80%;
        width: 16vw;
    }

    .answer-btn {
        width: 30vw;
    }

    #character-name {
        width: 80%;
    }

    #start-btn {
        width: 12vw;
    }
}

@media screen and (max-width: 375px) {

    header {
        font-size: 90%;
    }
}

@media screen and (max-width: 320px) {

    .btn {
        width: 20vw;
    }

    .answer-btn {
        width: 34vw;
    }

    #start-btn {
        width: 14vw;
    }
}